@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Hover row tables</span>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" /></th>
                            <th>#</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td>SaveCampaignForMarketing</td>
                            <td><input type="button" value="Generate" class="btn btn-xs btn-success" /></td>
                            <td>
                                <select class="form-control form-group-margin">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td>SaveCampaignForMarketing</td>
                            <td><input type="button" value="Generate" class="btn btn-xs btn-success" /></td>
                            <td>
                                <select class="form-control form-group-margin">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td>SaveCampaignForMarketing</td>
                            <td><input type="button" value="Generate" class="btn btn-xs btn-success" /></td>
                            <td>
                                <select class="form-control form-group-margin">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>