@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewBag.Title = "Script Viewer";
}
@model SQLPlus.Web.Models.ViewModels.ScriptViewerViewModel
@section styles
{
    <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/agate.css">
}

@section headerscripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
}

<div>
    <pre>
        <code class="sql">@Model.Query</code>
    </pre>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>
}
