@using SQLPlus.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewBag.BodyClasses = "theme-default page-signin-alt";
}

@section styles{
<link href="~/Plugins/whirl/whirl.css" rel="stylesheet" />
    <style>
    </style>
}

<div class="whirl duo">
    This content is taking ages to load.
</div>

@section Scripts {
    <script>
    </script>
}