@using SQLPlus.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    ViewBag.BodyClasses = "theme-default page-signin-alt";
}


@section styles{
    <link href="~/Plugins/custom/myloader/myloader.css" rel="stylesheet" />
}
<!-- 2. $MAIN_NAVIGATION ===========================================================================

    Main navigation
-->
<div class="signin-header">
    <a href="index.html" class="logo">
        <div class="demo-logo bg-primary"><img src="~/demo/logo-big.png" alt="" style="margin-top: -4px;"></div>&nbsp;
        <strong>SQL+</strong>
    </a> <!-- / .logo -->
    @*<a href="pages-signup-alt.html" class="btn btn-primary">Sign Up</a>*@
</div> <!-- / .header -->

<h1 class="form-header">Sign in to your Account</h1>

<div class="" id="login_content">
    <!-- Form -->
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "panel", role = "form", @id = "formLogin" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Username" data-bind="value:Username"/>
        </div> <!-- / Username -->

        <div class="form-group signin-password">
            <input type="password" class="form-control input-lg" placeholder="Password" data-bind="value:Password"/>
            <a href="#" class="forgot">Forgot?</a>
        </div> <!-- / Password -->
        <div class="form-group">
            <label class="checkbox-inline">
                <input class="px" type="checkbox" id="RememberMe" name="RememberMe" data-bind="checked:RememberMe">
                <span class="lbl">Remember Me</span>
            </label>
        </div>
        <div class="form-actions">
            <input type="button" value="Sign In" class="btn btn-primary btn-block btn-lg" data-bind="click:function(){return Login()}">
        </div> <!-- / .form-actions -->
    }

</div>

<!-- / Form -->

@section Scripts {
    <script type="text/javascript">
        var retunUrl = '@ViewBag.ReturnUrl'
    </script>
    <script src="~/Scripts/app/pages/login.js"></script>
}